[submodule "external-repositories/erik-forkskinny-c"]
	path = external-repositories/erik-forkskinny-c
	url = https://github.com/ErikP0/forkskinny-c.git
[submodule "external-repositories/rweather-skinny-c"]
	path = external-repositories/rweather-skinny-c
	url = https://github.com/rweather/skinny-c.git
