[submodule "forkskinny-c"]
    active = true
	path = externalmodules/erik-forkskinny-c
	url = git@github.com:ErikP0/forkskinny-c.git

[submodule "rweather-skinny-c"]
    active = true
	path = external-repositories/rweather-skinny-c
	url = git@github.com:rweather/skinny-c.git
